---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio de David - Desarrollador y Programador Web principiante"
  description="Desarrollador Web principiante que ha participado en proyecto emprego Appventurers">
  <section>
    <h2
      class="text-3xl font-semibold mb-4 container mx-auto p-8 flex flex-col items-center justify-center animate__animated animate__slideInDown">
      Sobre Mí
    </h2>

    <div>
      <div class="mb-4"></div>

      <div
        class="container mx-auto p-8 flex flex-col items-center justify-center">
        <p
          class="text-gray-700 leading-relaxed container mx-auto p-8 flex flex-col items-center justify-center">
          ¡Hola! Soy David, un principiante de la informática con experiencia en
          servicio de atención al cliente "Helpdesk".
          <br />
          En mi tiempo libre, disfruto de viajar y me apasiona el fútbol. Siempre
          estoy buscando nuevas oportunidades para aprender y crecer profesionalmente.
        </p>

        <!-- <p class="text-gray-700 leading-relaxed container mx-auto p-8 flex flex-col items-center justify-center">
              En mi tiempo libre, disfruto de viajar y me apasiona el fútbol. Siempre estoy buscando nuevas oportunidades para aprender y crecer profesionalmente.
    
            </p> -->
      </div>
    </div>
  </section>
</Layout>
