---
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Contacto</title>

</head>

<body class="absolute inset-0 -z-10 h-full w-full bg-gray-200  bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem] min-h-screen flex flex-col items-center justify-center">

  <Header />

  <div class="bg-white p-8 rounded-md shadow-md max-w-md w-full mt-8">
    <h2 class="text-2xl font-semibold mb-6">Contacto</h2>

    <form action="procesar_formulario.php" method="POST">

      
      <div class="mb-4">
        <label for="nombre" class="block text-gray-600">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="w-full p-2 border border-gray-300 rounded-md" required>
      </div>

      
      <div class="mb-4">
        <label for="email" class="block text-gray-600">Correo electrónico:</label>
        <input type="email" id="email" name="email" class="w-full p-2 border border-gray-300 rounded-md" required>
      </div>

      
      <div class="mb-6">
        <label for="mensaje" class="block text-gray-600">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" class="w-full p-2 border border-gray-300 rounded-md" required></textarea>
      </div>

      
      <div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Enviar</button>
      </div>
    </form>
  </div>

</body>
</html>
