---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio de David - Desarrollador y Programador Web principiante"
  description="Desarrollador Web principiante que ha participado en proyecto emprego Appventurers">
  <section class="container mx-auto p-4 md:p-8">
    <h2 class="text-3xl font-semibold mb-4 animate__animated animate__slideInLeft">Proyectos</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="mb-8">
        <img
          src="/proyecto1.jpg"
          alt="Proyecto 1"
          class="w-full h-48 md:h-64 object-cover rounded-md mb-4 animate__animated animate__flash"
        />
        <h3 class="text-xl font-semibold mb-2">
          Proyecto 1 - Senda do Río Sar
        </h3>
        <p class="text-gray-700 leading-relaxed">
          Ruta circular que enlaza las Brañas del Sar con el Parque Eugenio Granell y el Bosque del Banquete de Conxo. Su proximidad al centro urbano durante todo el trayecto permite acceder a la ruta casi desde cualquier punto y dejarla también en cualquier momento. 
        </p>
      </div>

      <div class="mb-8">
        <img
          src="/proyecto2.jpg"
          alt="Proyecto 2"
          class="w-full h-48 md:h-64 object-cover rounded-md mb-4 animate__animated animate__flash"
        />
        <h3 class="text-xl font-semibold mb-2">
          Proyecto 2 - Mercado de Abastos
        </h3>
        <p class="text-gray-700 leading-relaxed">
          El Mercado de Abastos de Santiago es un lugar capaz de despertar la magia de los cinco sentidos a través de su amplia oferta de productos frescos y artesanales.
          A lo largo de nuestra historia, arquitectura, calidad y tradición, nos hemos convertido en el segundo lugar más visitado de la ciudad de Santiago de Compostela.
          Experiencia, cultura y gastronomía enmarcadas en un entorno arquitectónico histórico y único. Aquí podrás pasear, degustar y encontrar a los mejores comerciantes y artesanos, expertos en cada una de sus especialidades.
        </p>
      </div>

      <div class="mb-8">
        <img
          src="/proyecto3.jpg"
          alt="Proyecto 3"
          class="w-full h-48 md:h-64 object-cover rounded-md mb-4 animate__animated animate__flash"
        />
        <h3 class="text-xl font-semibold mb-2">
          Proyecto 3 - Museo do Pobo galego
        </h3>
        <p class="text-gray-700 leading-relaxed">
          El Museo do Pobo Galego es un museo de carácter antropológico, pero también acoge salas de pintura, escultura y arte sagrada. Las principales colecciones están en relación con la cultura popular, guardando valiosos fondos referentes al mundo marinero y agrario. Otras secciones son las de hábitat, arquitectura, oficios e imprenta, junto a los espacios dedicados a la sociedad. Igualmente posee una excelente colección del traje y encaje tradicional, así como de instrumentos musicales. El recorrido por el museo permite apreciar las colecciones y los objetos en relación su utilización original. 
        </p>
      </div>
    </div>
  </section>
</Layout>
