---
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Portfolio - Proyectos</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="absolute inset-0 -z-10 h-full w-full bg-gray-200  bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem] min-h-screen flex flex-col items-center justify-center">

  <Header />

  <section class="container mx-auto p-4 md:p-8">
    <h2 class="text-3xl font-semibold mb-4">Proyectos</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="mb-8">
        <img src="/proyecto1.jpg" alt="Proyecto 1" class="w-full h-48 md:h-64 object-cover rounded-md mb-4">
        <h3 class="text-xl font-semibold mb-2">Proyecto 1 - Senda do Río Sar</h3>
        <p class="text-gray-700 leading-relaxed">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum hic molestias, corrupti perspiciatis commodi eveniet unde amet nesciunt debitis at ut culpa recusandae repellat ipsa soluta velit tempore delectus consequatur.
        </p>
      </div>

      <div class="mb-8">
        <img src="/proyecto2.jpg" alt="Proyecto 2" class="w-full h-48 md:h-64 object-cover rounded-md mb-4">
        <h3 class="text-xl font-semibold mb-2">Proyecto 2 - Mercado de Abastos</h3>
        <p class="text-gray-700 leading-relaxed">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aliquid magni asperiores incidunt odit veritatis autem esse, tenetur rem voluptatem officia quo, neque obcaecati ratione suscipit laborum sequi dicta deleniti!
        </p>
      </div>

      <div class="mb-8">
        <img src="/proyecto3.jpg" alt="Proyecto 3" class="w-full h-48 md:h-64 object-cover rounded-md mb-4">
        <h3 class="text-xl font-semibold mb-2">Proyecto 3 - Museo do Pobo galego</h3>
        <p class="text-gray-700 leading-relaxed">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero similique dolor eligendi reprehenderit eos repellendus recusandae nam maxime excepturi impedit unde inventore, ad rerum vitae quaerat! Eum porro ipsam doloremque!
        </p>
      </div>
    </div>
  </section>
</body>
</html>
