<header
  class="flex justify-between items-center py-5 px-4 md:px-6 lg:px-8 xl:px-0 xl:w-full xl:max-w-[1120px] mx-auto">
  <img
    class="rounded-full w-20 h-15 border-2 border-gray-400 mt-4 animate__animated animate__pulse"
    src="../FotoDavid.PNG"
    alt="david foto"
  />

  <nav class="flex flex-row gap-x-8 opacity-90 px-3">
    <a class="hover:scale-110" href="/">Inicio</a>
    <a class="hover:scale-110" href="/about">Sobre mí</a>
    <a class="hover:scale-110" href="/projects">Proyectos</a>
    <a class="hover:scale-110" href="/contacto">Contacto</a>
  </nav>
</header>
